.container{
    height: 91vh;
}
.header{
    display: flex;
    align-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: row;
    height: 650px;
}
.compose{
    position: fixed;
    /* float: right; */
    bottom: 50px;
    right: 620px;
    cursor: pointer;
    border-radius: 50%; 
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }
  .compose:hover{
    transform: scale(0.7);
    /* transition: scale 5s; */
  }
  .compose > img{
    padding: 10px;
    border-radius: 50%;
  }
  .compose > img:hover{
    filter: invert(1);
  }
  .modal-header{
    background-color: #333;
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding-left: center;
    position: sticky;
    top: 0;
    z-index: 10000;
  }
  .modal-header > p{
    flex: 1;
  }
  .modal-recipient{
    display: flex;
    width: 95%;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px;
    border-bottom: 2px solid rgb(241, 241, 241);
  }

  .modal-recipient > p{
    margin-right: 10px;
    color: #333;
  }

  .modal-recipient > input{
    outline: none;
    width: 100%;
    border: none;
  }

  .quill{
    display: flex;
    margin: 10px;
    flex-direction: column;
    flex: 1;
  }

  .modal-bottom{
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  .modal-bottom-last{
    display: flex;
    margin-right: 10px;
    margin-left: auto;
  }

  .modal-bottom-last > .MuiSvgIcon-root{
    color: rgba(51, 51, 51, 0.671);
    margin-left: 10px;
  }

  .modal-bottom > .MuiSvgIcon-root:hover{
    color: #000;
  }

  .modal-container{
    display: flex;
    flex-direction: column;
  }

  .modal-container-top{
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .modal-container-bottom{
    margin-top: 250px;
    position: sticky;
    bottom: 10px;
    background-color: white;
  }

  .modal-bottom > Button{
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 10px;
    cursor: pointer;
  }
