.mails-et-mailContent{
  flex: 1;
  max-height: 700px;
  position: relative;
}
.mails-et-mailContent-main{
  display: flex;
  min-height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
}

.mails-et-mailContent-main::-webkit-scrollbar{
  display: none;
}
.mails{

    display: flex;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
    align-items: flex-start;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}
.mailContent{
  /* flex: 1; */
}
.mails::-webkit-scrollbar{
    display: none;
}
